body {
    margin: 0;
    background-color: #b9a893;
    color: #251400;
    font: 20px sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 50px;
    gap: 20px;
}
h2 {
    text-align: center;
}
form {
    width: 300px;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 10px;
}
input, button, select{
    font-family: inherit;
    font-size: inherit;
    outline: none;
    background-color: #decab2;
    border: 1px solid #251400;
    border-radius: 6px;
    box-shadow: 4px 2px 10px 0 #251400;
    padding: 10px;
}
button {
    width: 140px;
    background-color: #bba689;
}
.form-group:last-child {
    align-items: flex-end;
}
.classBlockA, .classBlockB, .classBlockC{
    width: 300px;
}
.box {
    display: flex;
    justify-content: space-between;
    height: 32px;
    padding: 0;
    border-bottom: 1px solid #251400;
    margin-bottom: 14px;
}
.boxText:last-child {
    display: none;
}
